.vscode
.env
.DS_Store
.idea
venv/
.ipynb_checkpoints
.__pycache__
__pycache__
*.log
tmp*
temp*
private*
dist/
nohup*
cache
log/
.trash/
runs
logs
rag_nodes_index.jsonl
alfworld_data
beyondagent/dataset/appworld/data
beyond*
step_experiences/*
build/*
*.egg-info/*
