.vscode
.env*
.DS_Store
.idea
venv/
.ipynb_checkpoints
.__pycache__
__pycache__
*.log
tmp*
temp*
private*
dist/
nohup*
cache
log/
.trash/
runs
logs
rag_nodes_index.jsonl
alfworld_data
beyondagent/dataset/appworld/data
beyond*
step_experiences/*
build/*
*.egg-info/*
cookbook/appworld/data/*
cookbook/appworld/experiments/*
cookbook/appworld/exp_result/*
file_vector_store/*
cookbook/appworld/file_vector_store/*
experiencemaker/tool/web_search_cach/*
experiencemaker/cookbook/bfcl/exp_result/*
experiencemaker/cookbook/bfcl/no_exp_result/*
experiencemaker/cookbook/bfcl/data/*
experiencemaker/cookbook/bfcl/gorilla
experiencemaker/*.sh